nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #F9F9F9;
    position: fixed;
    border-bottom: 1px solid rgb(102, 255, 0);
    padding: 0px 50px 0px 50px;
}

.nav-header{
    color: rgb(102, 255, 0);
    font-size: 20px;
}

.nav-links a{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #000;
    border-radius: 10px;
    transition: 0.3s;
    &:hover{
        background: rgb(102, 255, 0);
        color: #FFF;
    }
}

.ativo{
    background: rgba(102, 255, 0, 0.5);
}