*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.3s all;
}

body{
    width: 100%;
    height: 100vh;
}