.tabela-caixa {
    width: 95%;
    margin: 25px auto;
    background: #ffffff;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
    padding-bottom: 10px;
}

.tabela-caixa table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
}

.tabela-caixa th {
    background: #2b2b2b;
    color: rgb(102, 255, 0);
    padding: 14px 10px;
    font-size: 14px;
}

.tabela-caixa td {
    padding: 12px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
}

.tabela-caixa tr:hover {
    background: rgba(102, 255, 0, 0.25);
    transition: 0.3s;
}

.contaudo-principal h3 {
    margin: 20px auto;
    font-size: 22px;
    color: #333;
}

.contaudo-principal {
    padding-top: 100px;
    width: 100%;
}